/* Reset Styles */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* User Navigation Bar */
.user-navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #B19CD9;
    padding: 10px 20px;
    color: rgb(67, 24, 116);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.user-nav-logo {
    display: flex;
    align-items: center;
}

.user-logo {
    height: 45px;
    margin-right: 5px;
}

.user-nav-titles {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.user-nav-title {
    font-family: inherit;
    font-weight: bolder;
    color: rgb(86, 28, 109);
}

.main-title {
    font-size: 10px;
}

.sub-title {
    font-size: 10px;
}

.user-nav-menu {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.user-nav-menu li {
    display: inline;
}

.user-nav-menu li a {
    font-family: inherit;
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.user-nav-menu li a:hover {
    color: #f0e6f7;
}

.user-profile-icon {
    display: block;
    margin-left: 10px;
    cursor: pointer;
}

.user-profile-icon img {
    height: 33px;
    cursor: pointer;
}
/* Advocacy Campaign Section */
.advocacy-campaign-container {
    margin: 0 auto;
    padding-top: 70px; 
    text-align: center;
}

.title-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0;
}

h1 {
    color: rgb(86, 28, 109);
    font-size: 26px;
    margin-bottom: 12px;
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
    margin-left: 1000px;
}

.search-bar input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid rgba(213, 213, 216, 0.849);
    border-radius: 5px;
    width: 200px;
}

.search-bar button {
    background-color: rgba(213, 213, 216, 0.849);
    color: white;
    border: none;
    padding: 8px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #B19CD9;
}

/* Image Gallery */
.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    row-gap: 50px;
    justify-items: center;
    padding: 100px;
    padding-top: 20px; 
}

.image-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-card img {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.image-card img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.image-title {
    margin-top: 10px;
    font-size: 15px;
    color: #3182ce;
    text-decoration: none;
}

.image-title:hover {
    text-decoration: underline;
}

/* Customize scrollbar */
::-webkit-scrollbar {
    width: 6px; /* Set scrollbar width */
}

::-webkit-scrollbar-thumb {
    background-color: #cac5d35d; /* Scrollbar color */
    border-radius: 6px; /* Rounded scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #f4f4f4; /* Scrollbar track color */
}